
#title {
    color: black; /*color is very dark grey*/
    text-align: center;
}
main {
    background-color: lightblue; /*color is petrol*/
}
body {
    background-color: lightblue; /*color is petrol*/
}
#paragraph {
    color: black
}
#leftSideOfPage {
    background-color: lightblue; width: 50%; height: 550px; float:left;
}
#rightSideOfPage {
    background-color: lightblue; width:50%; height: 550px; float:left;
}
#thirdSection {
    background-color: pink; width: 100%; height: 550px;
}
#link {
    color: red
}
#mainHeading {
    color: red;
    text-align: right;
    margin-right: 7%;
}
.funParagraph{
    color: green;
}
#notation {
    margin-top: 30px;
}
#footer {
    margin-top: 2950px;
    text-align: right;
    margin-right: 10%;
}